html {
  margin: 0;
  background: #fff5dd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: eurostile, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Staatliches;
  font-size: 120px;
  color: #1c0947;
}


#category {
  font-family: Staatliches;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-navbar-container {
  background: #fff5dd !important;
  font-family: Staatliches;
}

.uk-navbar {
  display: flex;
  position: relative;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}


.profile-container {
  margin-top: 30px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  width: 300px;
  height: 300px;

  img {
    display: flex;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.profile-headline {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 30px;

  h2 {
    display: flex;
    margin: 0;
    font-weight: 800;
    margin-bottom: .5rem;
    line-height: 1.125;
    font-size: 2rem !important;
  }

  h3 {
    margin: 0;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1rem !important;
  }
}

.title-container {
  display: flex;
}

.svg-container {
  width: 140px;
  margin-left: 10px;

  img {
    filter: invert(9%) sepia(35%) saturate(4514%) hue-rotate(246deg) brightness(91%) contrast(110%);
  }
}

.about-root {
  background-color: #1c0947;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.about-column {
  display: flex;
  text-align: center;
  max-width: 900px;
  align-self: center;
  width: 100%;
  padding: 50px 0px 50px 0px;

  h2 {
    color: white;
    font-weight: 800;
    margin-bottom: 1.5rem;
    line-height: 1.125;
    font-size: 2rem !important;
    display: inline-block;
    border-bottom: 2px solid #f97304;
  }

  h4 {
    color: white;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.25rem !important;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }

  @media (max-width: 500px) {
    h4 {
      padding: 0px 15px 0px 15px;
    }
  }
}

.logo-container {
  width: 65px;
  margin-left: 40px;
  cursor: pointer;
}

.title-container {
  display: flex;
  padding-top: 30px;
  margin-bottom: 20px;

  h2 {
    margin: 0 auto;
    font-weight: 800;
    line-height: 1.125;
    font-size: 2rem;

  }
}

.tech-column {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.lang-root {
  ul {
    list-style-type: none;
  }
}

.indy-card-wrapper {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;

}

.card-image-contianer {
  width: 35px;
  margin-right: 20px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.25rem;
  margin: 20px;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;

  h3 {
    font-weight: 600;
    text-align: center;

  }

  p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 7px;
  }
}

.work-container {
  margin: auto;
  margin-top: 30px;
  max-width: 850px;

  h4 {
    margin: 10px 10px 0px 10px;
  }

  h5 {
    margin: 10px 0px 10px 10px;
    line-height: 1.2;
  }

  p {
    margin: 10px 10px 10px 5px;
    line-height: 1.2;
  }

  ul {
    margin: 0 0 20px 0;
  }


  a {
    color: #f97304;
    font-weight: 500;
  }
}

.company-container {
  display: flex;
}

.tie-container {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;

}

.title-root {
  width: 100%;
  size: 1800px;
  background-color: #1c0947;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.title-col {
  display: flex;
  text-align: center;
  max-width: 900px;
  align-self: center;
  width: 100%;
  padding: 50px 0px 60px 0px;

  h2 {
    font-weight: 800;
    margin-bottom: 0rem;
    line-height: 1.125;
    font-size: 2rem !important;
    display: inline-block;
    color: #fff;
    border-bottom: 2px solid #f97304;
  }
}

.project-container {
  margin: 50px 50px 30px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    color: #f97304;
    font-weight: 500;
  }
}

.liner {
  display: flex;
  flex-direction: column;
  margin: 0px 20px 20px 20px;
  width: 300px;
  height: 330px;
}

.liner:hover {
  .image-container {
    opacity: .2;
    transition: "transform 350ms ease"
  }

  .project-info {
    z-index: 1;
    transition: "transform 350ms ease";
    transform: "translate3d(0,50px,0)";
  }

}

.project-wrapper {
  border: 3px solid #1c0947;
}

.toolbar {
  background-color: #1c0947;
  height: 15px;
  display: flex;
  padding: 5px;
}

.square {
  width: 10px;
  height: 10px;
  background-color: #f97304;
  margin: 0px 5px;
  border-radius: 5px;
}


.project-info {
  margin-top: -290px;
  padding: 10px;

  h3 {
    margin-bottom: 0px;
  }

  p {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.stack-container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.git-link {
  border: 1px solid #1c0947;
  border-radius: 6px;
  padding: 5px;
  margin-top: 5px;
}

.cta-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #1c0947;
  margin-bottom: 20px;
  padding-bottom: 40px;

  h2 {
    margin: auto;
  }

  a {
    margin: 10px auto;
    width: 200px;
    height: auto;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    background: transparent;
    border: 1.5px solid rgb(249, 115, 4);
    outline: none;
    transition: all 500ms ease-in-out 0s;
    font-size: 18px;
    font-weight: 900;
    color: rgb(249, 115, 4);
    padding: 5px;
  }

  a:hover {
    background: rgb(249, 115, 4);
    text-decoration: none;
    color: #fff;
  }
}

.footer-container {

  margin-top: 30px;
  margin-bottom: 30px;
}

.footers-wrapper {
  display: block;
  text-align: center;
  justify-content: center;
  padding-top: 50px;

  h2 {
    font-weight: 300;
    margin: 2rem auto;
    max-width: 300px;
    opacity: 0.7;
  }
}

@media (max-width: 923px) {
  h1 {
    font-size: 100px;
  }

  .svg-container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {

  .liner {
    margin: 0px 0px 20px 0px;
  }

  .project-info {
    margin-top: -284px;
  }

  h1 {
    font-size: 100px;
  }

  .company-container {
    display: block;
  }

  .resume-card {
    min-width: 0;

    h4 {
      margin: 10px;
    }

    h5 {
      margin: 10px;
    }

    p {
      margin: 10px;
    }
  }
}